.form-center {
  margin: 50px 350px 0px 350px;
  height: 435px;
  width: 600px;
}

.example-full-width {
  margin: 8px 25px 0px 15px;
}

.error-div {
  font-size: 14px;
  color: red;
}

.button-center {
  margin: 0px 25px 15px 450px;
}

.bg-color {
  background-color: rgb(245 57 109 / 82%);
  color: white;
}

.content-modify {
  width: 600px;
  height: 65px;
  margin-bottom: 50px;
  background-color: rgb(245 57 109 / 82%);
  color: white;
  font-size: 36px;
  border-radius: inherit;
}

.inner-matcard {
  margin: -25px 17px 5px 17px;
}

.user-modify {
  margin: -15px 0px 10px 400px;
  font-size: 18px;
}

.btn-bgcolor {
  background-color: white;
}

.login-font {
  margin: 15px 0px 0px 25px;
}
